{% include "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <script type="text/javaScript">
        $(function() {
          $(".option-heading").on('click', function() {
  $(this).toggleClass('is-active').next(".option-content").stop().slideToggle(500);
});
        });
    </script>

    <style>
    .option-heading:before           { content: "\25BA"; }
    .option-heading.is-active:before { content: "\25BC"; }
    /* Helpers */
    .is-hidden { content: "\25BC"; display: none;
    .btn {
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 0%;
    box-sizing:border-box;
}
    </style>


<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
  <title>Welcome to the Durbin's group database</title>
      <div  margin-left: 100px>
        {% if log == 1 %}
        <h3 style="text-align:right;font-size:100%;margin: 20px;"> logged in as
          <a style="font-size:120%;">{{usrname}}</a>
          <p></p>
        {% endif %}
      </h3>
    </div>
  </head>
<body>
  <p style="margin: 20px;">This website provides access to sample and sequencing information for the East-African cichlid project carried out in <a href="https://www.gen.cam.ac.uk/directory/richard-durbin">Richard Durbin</a>'s group.
  <br>The research involves stydying the genetic variation, evolutionary and population genetics in cichlid fishes.</p>
        <p></p>
    <fieldset>
      <div class="option-heading"><b>Contact</b> information </div>
      <div class="option-content is-hidden">
        <p>To comment, add suggestions or report issues, please send an email by clicking <a style="text-align:center;color:#007bff;text-decoration:none;"href="mailto:had38@cam.ac.uk?Subject=Cichlid%20website%20email">here</a></p>
      </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b>Funding</b> information </div>
      <div class="option-content is-hidden">
      <p>Richard Durbin</p>
    </div>
    </fieldset>
        <p></p>
    <fieldset>
      <div class="option-heading"><b>Collaboration</b> ongoing </div>
      <div class="option-content is-hidden">
      <p>name of people involves</p>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b>Publication</b> (latest) </div>
      <div class="option-content is-hidden">
        <p><a style="text-align:center;color:#007bff;text-decoration:none;" target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/30455444">Whole-genome sequences of Malawi cichlids reveal multiple radiations interconnected by gene flow.</a>
        <br>Malinsky M, Svardal H, Tyers AM, Miska EA, Genner MJ, Turner GF, Durbin R
        <br>Nat Ecol Evol. 2018 Dec;2(12):1940-1955
        <br>doi: 10.1038/s41559-018-0717-x.</p>
      </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b>Resource</b> creator </div>
      <div class="option-content is-hidden">
        <br><a style="text-align:center;color:#007bff;text-decoration:none;"href="mailto:had38@cam.ac.uk?Subject=Cichlid%20website%20contact">Hubert DENISE (2019)</a>
        <br>Department of Genetics, University of Cambridge
        <br><span style='margin-left:10px'>with support from P. Albers, Y. Yehudi. J. Smith and M. Qureshi</span>
      </div>
    </fieldset>
      </body>



{% endblock %}
{% extends "foot.html" %}
