<html>
    <head>
      <title>Welcome to the Durbin's group database</title>
    </head>
    <body>
        <div>
          <h1 tyle="text-align:center;"> DURBIN'S GROUP DATABASES:
            <a href="{{ url_for('index') }}">Home</a>
          </h1>
          <p style="text-align:right;font-size:100%;margin: 20px;">
            <a href="{{ url_for('logout') }}">Logout</a>
          </p>
        </div>
       <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% block content %}{% endblock %}
    </body>
</html>
