{% extends "base.html" %}

{% block content %}
<head>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/static/jquery.dataTables.css"> <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">-->
<link rel="stylesheet" href="/static/buttons.dataTables.css"> <!--https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">-->

<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<!--  if($('#' + DataName +  ' .sorting')[0]) {
    $('#' + DataName +  ' .sorting')[0].click();-->

<script type="text/javaScript">
  $(function() {
    $(".option-heading").on('click', function() {
      $(this).toggleClass('is-active').next(".option-content").stop().slideToggle(500);
        $('.' + this.id +  ' .sorting').click();
    });
  });
$(document).ready(function() {
  $('.TFtable').DataTable( {
    dom: 'Bfrtip',
    'sScrollX': '100%',
    buttons: [
      {extend: 'colvis', postfixButtons: ['colvisRestore'], text: 'add/remove columns'},
      {extend: 'csvHtml5', text: 'Save all page(s) (TSV)',
        exportOptions: { modifier: {
          fieldSeparator: '\t',
          extension: '.tsv',
          selected: null}}},
      {extend: 'excel', text: 'Save all page(s) (excel)',
          exportOptions: { modifier: {
          fieldSeparator: '\t',
          selected: null}}},
      {extend: 'pdf', text: 'Save all page(s) (pdf)',
          exportOptions: { modifier: {
          selected: null}}}
    ],
    "columnDefs": [ {
      "targets": 2,
      "render": function( data, type, row ) {
        data2 = '<a href="/{{db}}/api/1.1/'+'{{ url_param[0] }}/'+ row[{{ url_param[1] }}]+ '{{ url_param[2] }}">' + data+ '</a>';
      return data2;
    }, },
      { "targets" : [0, 1],
       "visible" :false,
    },
    ]
} );
 });
</script>

<style>
    .option-heading:before           { content: "\25BA";}
    .option-heading.is-active:before { content: "\25BC"; }
    /* Helpers */
    .is-hidden { content: "\25BC"; display: none;
    .btn {
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 0%;
    box-sizing:border-box;
}
</style>


<meta name="viewport" content="width=device-width, initial-scale=1">



  <title>Welcome to the Durbin's group database</title>
      <div  margin-left: 100px>
        <b class="alignright">
          {% if log == 1 %}
          <h3 style="text-align:right;font-size:150%;margin: 20px;"> logged in as
            <a style="font-size:120%;">{{usrname}}</a>
          {% endif %}
          <p></p>
        </h3>
      </b>
    </div>
</head>

<body>

  {% for tab_data in results %}
    <fieldset>
      <div class="option-heading" style="color:#007bff;" id='{{tab_data}}'><b> {{tab_data}}</b> information </div>
      <div class="option-content is-hidden">
      <table class="TFtable {{tab_data}}" id="TFtable">
      <thead>
        {% for key in results[tab_data]['column']%}
          <th>{{key}}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for row in results[tab_data]['data'] %}
          <tr>
            {% for data in row %}
              <td>{{data}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div>
    </fieldset>
    <p></p>
  {% endfor %}
</body>
{% endblock %}
