{% include "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <script type="text/javaScript">
        $(function() {
          $(".option-heading").on('click', function() {
  $(this).toggleClass('is-active').next(".option-content").stop().slideToggle(500);
});
        });
    </script>

    <style>
    .option-heading:before           { content: "\25BA"; }
    .option-heading.is-active:before { content: "\25BC"; }
    /* Helpers */
    .is-hidden { content: "\25BC"; display: none;
    .btn {
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 0%;
    box-sizing:border-box;
}
    </style>


<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
  <title>Welcome to the Durbin's group database</title>
      <div  margin-left: 100px>
        {% if log == 1 %}
        <h3 style="text-align:right;font-size:100%;margin: 20px;"> logged in as
          <a style="font-size:120%;">{{usrname}}</a>
          <p></p>
        {% endif %}
      </h3>
    </div>
  </head>
<body>
  <p style="margin: 20px;">This website provides access to sample and sequencing information for the East-African cichlid project carried out in <a href="https://www.gen.cam.ac.uk/directory/richard-durbin">Richard Durbin</a>'s group.
  <br>Below are answers to <b>Frequently Asked Questions</b>. If you cannot find the information you are looking for is not present, send us an email <a style="text-align:center;color:#007bff;text-decoration:none;"href="mailto:had38@cam.ac.uk?Subject=Cichlid%20website%20email">here</a></p>
        <p></p>
    <fieldset>
      <div class="option-heading"><b>Which data can be accessed via this website?</b></div>
      <div class="option-content is-hidden">
        <p>Whole table data can be accessed using the '<b>Select a table</b>' button.<br>
          Specific 'project', 'individual', 'material', 'sample' and 'file' data are available following the links in the whole table displayed or entering one or more query terms in the text boxes on the home page.<br>
          Extra information will be displayed upon clicking on the '<span style="color:#007bff; font-size: 20px"><b>+</b></span>' sign above the tables.<br>
          Visibility of one or more columns can be toggled on, or off, using the '<b>add/remove columns</b>' button available upon every displayed table.
        </p>
      </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b>Can I access the data programmatically?</b></div>
      <div class="option-content is-hidden">
        <p><b>Yes</b>.<br> The URL for the web page have three type of structure: <br>- https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>{table}</b>/web (for example: "<i>https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>project</b>/web</i>") <br>
          - https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>{table}</b>/<b>{table_id}</b>/web (for example: "<i>https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>project</b>/<b>1</b>/web</i>") <br>
          - https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>{table}</b>/<span style="color:#007bff;"><b>name</b></span>/<b>{name}</b>/web (for example: "<i>https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>individual</b>/<span style="color:#007bff;"><b>name</b></span>/<b>D01-A03</b>/web</i>") <br>
        </p><p>The data can be accessed as a json format by replacing the suffix 'web' by 'json'<br>
          For example, using the second example above: "curl https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>project</b>/<b>1</b>/json" will display a json file with this structure:<br>
            <span style="margin-left: 25px;"<b>(</b>"project:1": <br><span style="margin-left: 25px;"> project:[<br><span style="margin-left: 50px;">{<i>project_field1</i>: project_data1, <i>project_field2</i>: project_data2, .....}</span><br><span style="margin-left: 25px;"> ]</span></span><br>
            <span style="margin-left: 25px;">material:[<br><span style="margin-left: 50px;">{<i>material_field1</i>: material1_data1, <i>material_field2</i>: material1_data2, .....}</span>,<br><span style="margin-left: 50px;">{<i>material_field1</i>: material2_data1, <i>material_field2</i>: material2_data2, .....},...</span><br><span style="margin-left: 25px;">]</span><br>
            <span style="margin-left: 25px;">individual:[<br><span style="margin-left: 50px;">{<i>individual_field1</i>: individual1_data1, <i>individual_field2</i>: individual1_data2, .....}</span>,<br><span style="margin-left: 50px;">{<i>individual_field1</i>: individual2_data1, <i>individual_field2</i>: individual2_data2, .....},...<br><span style="margin-left: 25px;">]</span><br>
            <span style="margin-left: 25px;">sample:[<br><span style="margin-left: 50px;">{<i>sample_field1</i>: sample1_data1, <i>sample_field2</i>: sample1_data2, .....}</span>,<br><span style="margin-left: 50px;">{<i>sample_field1</i>: sample2_data1, <i>sample_field2</i>: sample2_data2, .....},...<br><span style="margin-left: 25px;">]</span><br>
            <span style="margin-left: 25px;">file:[<br><span style="margin-left: 50px;">{<i>file_field1</i>: file1_data1, <i>file_field2</i>: file1_data2, .....}</span>,<br><span style="margin-left: 50px;">{<i>file_field1</i>: file2_data1, <i>file_field2</i>: file2_data2, .....},...<br><span style="margin-left: 25px;">]</span><br><b>)</b></span>
            <br>Similarly, the call for the third example will be: "curl https://darwin-tracking.sanger.ac.uk/cichlid/api/1.1/<b>individual</b>/<span style="color:#007bff;"><b>name</b></span>/<b>D01-A03</b>/json".<p>
            - Several 'individual' and 'sample' names can be inserted: they need to be separated by a comma, or "%2C", with no space.<br>
            - For 'species' and 'location': add the flag '-L' to instruct curl to follow the links. Example: "curl -L http://127.0.0.1:5000/api/1.1/<b>location</b>/<span style="color:#007bff;"><b>name</b></span>/<b>Liwonde</b>/json". Spaces in the names have to be replaced by "%20".<br>
            - Species queries accept partial name. For example: "curl -L http://127.0.0.1:5000/api/1.1/<b>species</b>/<span style="color:#007bff;"><b>name</b></span>/<b>Buccoc</b>/json" is the equivalent of "curl -L http://127.0.0.1:5000/api/1.1/<b>species</b>/<span style="color:#007bff;"><b>name</b></span>/<b>Buccochromis</b>/json".<br>
            - Note that the tag 'all' can be added to obtain more information, equivalent to the '<span style="color:#007bff;font-size: 20px"><b>+</b></span>' sign on the web pages, for tables 'individual', 'lane', 'material', 'species' and 'provider'. Example: "curl -L http://127.0.0.1:5000/api/1.1/<b>species</b>/<span style="color:#007bff;"><b>all</b></span>/json".<br>
            - The tag 'all' can also be used in conjonction with '.../<b>individual</b>/<b>{id}</b>/json', '.../<b>material</b>/<b>{id}</b>/json' and '.../<b>sample</b>/<b>{id}</b>/json'
          </p>
      </div>
    </fieldset>
        <p></p>
    <fieldset>
      <div class="option-heading"><b>How could I filter the display?</b></div>
      <div class="option-content is-hidden">
      <p>In addition to the text boxes available on the home page, a '<b>Search</b>' box is available on every tab displayed.<br>
      The search will take place in all columns of the displayed table. The term(s) provided will be match partially.</p>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b>How can I download the data from the website?</b></div>
      <div class="option-content is-hidden">
        <p>The data from the tables displayed on each page can be downloaded in 'tsv' (tab-separated format), excel and pdf format using the button displayed above the tables.<br>
          Note that the downloaded pages will reflect the filtering applied via the '<b>Search</b>' box but not the '<b>add/remove columns</b>' button.<br>
          Data can also be accessed programmatically. See the <a href="http://127.0.0.1:5000/api/1.1/faq">FAQ</a> page for details.
        </p>
      </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b>How can I add new data to the database?</b></div>
      <div class="option-content is-hidden">
        <p>In order to add data to the database, you first need to be logged in. For that click on the '<a href="http://127.0.0.1:5000/login"><b>Login</b></a>' button located on the top-right side of the page.<br>
          Then you will be able to download a <b>template</b>, in tab-separated format, or fill the provided <b>form</b>.<br>
          After uploading the filled <b>template</b> or submitting the completed <b>form</b>, we will review the data before adding them to the database in a timely manner.
        </p>
      </div>
    </fieldset>
      </body>
{% endblock %}
{% extends "foot.html" %}
