{% include "baseLog.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <script type="text/javaScript">
        $(function() {
          $(".option-heading").on('click', function() {
  $(this).toggleClass('is-active').next(".option-content").stop().slideToggle(500);
});
        });
        </script>
        <script>
function myFunction() {
  var x = document.getElementById("myFile").value;
  document.getElementById("demo").innerHTML = x;
}
</script>
    <!--script type="text/javascript" src="/zxtm/piwik2.js"></script-->
    <style>
    .option-heading:before           { content: "\25BA"; }
    .option-heading.is-active:before { content: "\25BC"; }
    /* Helpers */
    .is-hidden { content: "\25BC"; display: none;
    .btn {
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 0;
    width: 0%;
    box-sizing:border-box;
    }
    .error {
      color: red
    }
    </style>


<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
  <title>Welcome to the Durbin's group database</title>
      <div  margin-left: 100px>
        <h3 style="text-align:right;font-size:150%;margin: 20px;"> logged in as
          <a style="font-size:120%;">{{usrname}}</a>
      </h3>
    </div>
</head>
<body>
  <div>
    <form action="{{ url_for('enter_data') }}" method="post" autocomplete="off" value="upload" enctype="multipart/form-data">

      <h3 style="text-align:center;font-weight:500;line-height:1.2; font-family:-apple-system; margin-top:0;font-size:2.5rem;color:#007bff;">ENTER DATA data into the {{db}} database:<p style="margin-left: 40px"></h3><h3>     you can download a template
            <label for="sel_temp" class="btn" style='font-size: 20px; font-style:italic; color: darkblue'>-here-</label>
            <input type="submit" id="sel_temp" style='display:none;' value="downl" name="Sform">, fill it,
            <label for="upfiles" class="btn" style='font-size: 20px; font-style:italic; color: darkblue'  >-re-upload-</label>
            <input id="upfiles" type="file" name="file" style="display:none;"/>
            then click <input type="submit" name="Sform" value="submit" style="border:none;background-color:white;font-size: 20px;color:darkblue; font-weight:bold;" > to upload </p>
      </h3>
    </form>
    </div>
        <h3 style="margin-left: 40px" >or fill this form:</h3>
    <div>
      <form action="{{ url_for('enter_data') }}" method="post" autocomplete="off" value="fill" >
    {{ form.Option.label }} {{ form.Option}}
    <p></p>
    <fieldset>
      <legend><b> Individual</b> information</legend>

      <div style = font-size:16px; font-weight:bold;>
        <p>
            {{ form.ind_name.label }}&nbsp;
            {{ form.ind_name(size=32) }}<br>
        </p>
        <p>
            {{ form.ind_alias.label }}&nbsp;
            {{ form.ind_alias(size=32) }}<br>
        </p>
          {{ form.Gender.label }} {{ form.Gender }}&nbsp;
          {{ form.dev_stage.label }} {{ form.dev_stage}}<br>
      </div>

    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b> Species</b> information </div>
      <div class="option-content is-hidden">
      <div style = font-size:16px; font-weight:bold;>
              <p>
            {{ form.sp_name.label }}{{ form.sp_name(size=32) }}<br>
          </p>
          <p>{{ form.sp_cname.label }}{{ form.sp_cname(size=32) }}<br>
          </p>
          <p>{{ form.sp_taxid.label }}{{ form.sp_taxid(size=16) }}<br>
          </p>
          <p>  {{ form.sp_taxpos.label }} {{ form.sp_taxpos}}<br>
        </p>
      </div>
    </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b> Provider</b> information </div>
      <div class="option-content is-hidden">
      <div style = font-size:16px; font-weight:bold;>
      <p>
      <select name= provname method="GET" action="/">
        {% for prov in prov_list %}
          <option value= "{{prov}}" SELECTED>{{prov}}</option>"
        {% endfor %}
      </select>&nbsp;&nbsp;or fill this form:
      </p>
      <p>
      {{ form.pv_name.label }}{{ form.pv_name(size=32) }}<br>
      </p>
          <p>{{ form.pv_fname.label }}{{ form.pv_fname(size=32) }}<br>
          </p>
          <p>{{ form.pv_mail.label }}{{ form.pv_mail(size=32) }}<br>
          </p>
          <p>  {{ form.pv_phone.label }} {{ form.pv_phone(size=32)}}<br>
        </p>
        <p>  {{ form.pv_address.label }} {{ form.pv_address(size=40)}}<br>
      </p>
      </div>
    </div>
    </fieldset>
        <p></p>
    <fieldset>
      <div class="option-heading"><b> Material</b> information </div>
      <div class="option-content is-hidden">
      <div style = font-size:16px; font-weight:bold;>
        <p>
          {{ form.mat_name.label }}{{ form.mat_name(size=32) }}&nbsp;
          {{ form.mat_acc.label }}{{ form.mat_acc(size=32) }}<br>
        </p>
        <p>
          {{ form.mat_type.label }}{{ form.mat_type}}<br>
        </p>
        <p>
            {{ form.mat_part.label }}{{ form.mat_part}}<br>
          </p>
          <p>
              {{ form.mat_cond.label }}{{ form.mat_cond}}<br>
            </p>
        </p>
        <p>
            {{ form.mat_location.label }}{{ form.mat_location}}&nbsp;
            {{ form.mat_loc_pos.label }}{{ form.mat_loc_pos}}<br>
          </p>
        <p>
          {{ form.mat_wgt.label }}{{ form.mat_wgt(size=10) }}&nbsp;
          {{ form.mat_unit.label }}{{ form.mat_unit}}<br>
        </p>
        <p>{{ form.mat_received.label }}{{ form.mat_received(size=16) }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Provider:&nbsp;
          <select name= provname method="GET" action="/">
            {% for prov in prov_list %}
              <option value= "{{prov}}" SELECTED>{{prov}}</option>"
            {% endfor %}
          </select><br>
        </p>
        <p>{{ form.mat_comment.label }}{{ form.mat_comment(size=16) }}<br>
      </div>
    </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b> Collection</b> information </div>
      <div class="option-content is-hidden">
      <div style = font-size:16px; font-weight:bold;>
        <p>
          {{ form.loc_country.label }}{{ form.loc_country(size=32) }}<br>
        </p>
        <p>
          {{ form.loc_region.label }}{{ form.loc_region(size=32) }}&nbsp;
          {{ form.loc_details.label }}{{ form.loc_details(size=32) }}<br>
        </p>
        <p>
          {{ form.loc_lat.label }}{{ form.loc_lat(size=10) }}&nbsp;
          {{ form.loc_lng.label }}{{ form.loc_lng(size=10) }}<br><br>
        </p>
        <p>
          {{ form.loc_method.label }}{{ form.loc_method(size=32) }}&nbsp;
          {{ form.loc_details.label }}{{ form.loc_details(size=32) }}<br>
        </p>
        <p>
          {{ form.loc_weight.label }}{{ form.loc_weight(size=10) }}&nbsp;
          {{ form.loc_unit.label }}{{ form.loc_unit }}<br>
        </p>
    <p>{{ form.loc_collected.label }}{{ form.loc_collected(size=16) }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collector:&nbsp;
      <select name= provname method="GET" action="/">
        {% for prov in prov_list %}
          <option value= "{{prov}}" SELECTED>{{prov}}</option>"
        {% endfor %}
      </select><br>
    </p>
  </div>
        </fieldset>
        <p></p>
        <fieldset>
          <div class="option-heading"><b> Project</b> information </div>
          <div class="option-content is-hidden">
          <div style = font-size:16px; font-weight:bold;>
            <p>
              {{ form.prj_name.label }}{{ form.prj_name(size=32) }}<br>
            </p>
            <p>
              {{ form.prj_alias.label }}{{ form.prj_alias(size=32) }}<br>
            </p>
            <p>
              {{ form.prj_acc.label }}{{ form.prj_acc(size=16) }}&nbsp;
              {{ form.prj_ssid.label }}{{ form.prj_ssid(size=10) }}<br>
            </p>
          </fieldset>
          <p></p>
          <fieldset>
            <div class="option-heading"><b> Sequencing</b> information </div>
            <div class="option-content is-hidden">
            <div style = font-size:16px; font-weight:bold;>
              <p>
                {{ form.spl_name.label }}{{ form.spl_name(size=32) }}<br>
              </p>
              <p>
                {{ form.spl_accession.label }}{{ form.spl_accession(size=10) }}&nbsp;
                {{ form.spl_ssid.label }}{{ form.spl_ssid(size=10) }}<br>
              </p>
              <p>
                {{ form.spl_comment.label }}{{ form.spl_comment(size=32) }}<br><br>
              </p>
              <p>
                {{ form.lane_name.label }}{{ form.lane_name(size=32) }}&nbsp;
                {{ form.lane_accession.label }}{{ form.lane_accession(size=10) }}<br><br>

                {{ form.lib_name.label }}{{ form.lib_name(size=32) }}&nbsp;
                {{ form.lib_ssid.label }}{{ form.lib_ssid(size=10) }}<br><br>
              </p>
              <p>
                {{ form.file_name.label }}{{ form.file_name(size=32) }}&nbsp;
                {{ form.file_accession.label }}{{ form.file_accession(size=10) }}<br>
              </p>
              <p>
                {{ form.file_format.label }}{{ form.file_format }}&nbsp;
                {{ form.file_PE.label }}{{ form.file_PE}}&nbsp;&nbsp;
                {{ form.file_reads.label }}{{ form.file_reads(size=20)}}<br>
              </p>
              <p>
                {{ form.file_md5.label }}{{ form.file_md5(size=40) }}&nbsp;
                {{ form.file_path.label }}{{ form.file_path(size=60) }}<br>
              </p>
              <p>
                {{ form.file_comment.label }}{{ form.file_comment(size=32) }}<br>
              </p>
              <p></p>
              <p>
                {{ form.seq_tech.label }}{{ form.seq_tech }}&nbsp;
                {{ form.seq_centre.label }}{{ form.seq_centre(size=32) }}<br>
              </p>
        </div>
              </fieldset>
        <p></p>
        <fieldset>
          <div class="option-heading"><b> Image</b> information </div>
          <div class="option-content is-hidden">
          <div style = font-size:16px; font-weight:bold;>
            <p>
              {{ form.img_name.label }}{{ form.img_name(size=32) }}<br>
            </p>
            <p>
              {{ form.img_source.label }}{{ form.img_source(size=32) }}<br>
            </p>
            <p>
              {{ form.img_comment.label }}{{ form.img_comment(size=32) }}&nbsp;
              {{ form.img_licence.label }}{{ form.img_licence(size=32) }}<br>
            </p>
      </div>
    </fieldset>
    <p></p>
    <fieldset>
      <div class="option-heading"><b> Other comment</b> </div>
      <div class="option-content is-hidden">
      <div style = font-size:16px; font-weight:bold;>
        <p>
          {{ form.ann_ann.label }}{{ form.ann_ann(size=32) }}<br>
        </p>
        <p>
          {{ form.ann_comment.label }}{{ form.ann_comment(size=32) }}<br>
        </p>
        <p>
          {{ form.ann_cat.label }}{{ form.ann_cat}}<br>
        </p>
      </div>
      </fieldset>
      <p></p>
      <center>
         <input type="submit" name="Sform" value='SUBMIT' style="border:none;background-color:white;font-size: 20px;color:darkblue; font-weight:bold;" >
       </center>
     </div>
    </form>

      </body>



{% endblock %}
{% extends "foot.html" %}
